<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<!-- namespace속성: 반드시 정의를 하자 -->
<mapper namespace="com.hk.board.dao">

  <select id="boardlist" resultType="AnsDto">
    SELECT SEQ,ID,TITLE,CONTENT,REGDATE,
    	   REFER, STEP, DEPTH, READCOUNT, DELFLAG 
    FROM ANSWERBOARD 
    ORDER BY REFER DESC, STEP ASC
  </select>
  
  <insert id="insertboard" parameterType="AnsDto" >
  	INSERT INTO ANSWERBOARD
	VALUES( NULL,#{id},#{title},#{content},SYSDATE(),
           (SELECT NVL(MAX(REFER),0)+1 FROM ANSWERBOARD),
           0,0,0,'N')
  </insert>
  
  <select id="getboard" parameterType="Integer" resultType="AnsDto">
  	SELECT SEQ,ID,TITLE,CONTENT,REGDATE
  	FROM ANSWERBOARD
  	<include refid="seqParam"/>
  </select>
  
  <!-- 조회수 -->
  <update id="readcount" parameterType="Integer">
  	UPDATE ANSWERBOARD SET READCOUNT = READCOUNT+1
  	<include refid="seqParam"/>
  </update>
  
  <!-- 수정하기 -->
  <update id="boardupdate" parameterType="Map">
  	UPDATE ANSWERBOARD SET TITLE=#{title}, CONTENT=#{content}
  	<include refid="seqParam"/>
  </update>
  
  <!-- 삭제하기: delflag = Y update 실행 -->
  <update id="boarddelete" parameterType="Integer">
  	UPDATE ANSWERBOARD SET DELFLAG='Y'
  	<include refid="seqParam"/>
  </update>
  
  <!-- 공통 쿼리 한번 작성하고 필요한곳에서 사용 -->
  <sql id="seqParam">
  	WHERE SEQ=#{seq}
  </sql>
  
  <!-- 여러글 삭제하기: 동적쿼리 사용하기 : parameter는 Map("seqs":array[1,2,3])-->
  <!-- 동적쿼리사용할때 전달하는 파라미터는 Map으로 전달하자 -->
  <!-- UPDATE ANSWERBOARD SET DELFLAG='Y'
  	   WHERE SEQ IN (1,2,3,4,5)  -->
  <update id="muldel" parameterType="Map">
  	UPDATE ANSWERBOARD SET DELFLAG='Y'
  	WHERE SEQ IN 
  	<foreach collection="seqs" item="seq" open="(" close=")"
  			 separator=",">
  		#{seq}
  	</foreach>
  </update>
</mapper>








